In [1]:
import pandas as pd
import numpy as np

In [2]:
lgbm_csv = pd.read_csv('../output/21_all_5kfold.csv').rename(columns = {'TARGET':'dp1'})    
nn_csv = pd.read_csv('../output/18_nn_auc_769.csv').rename(columns = {'TARGET':'dp2'})
lgbm_csv2 = pd.read_csv('../output/16_all_5kfold.csv').rename(columns = {'TARGET':'dp3'})

In [3]:
data = pd.merge(lgbm_csv, nn_csv, how='left', on='SK_ID_CURR')

In [4]:
data['TARGET'] = (lgbm_csv['dp1'] * 0.3) + (nn_csv['dp2'] * 0.2) + (lgbm_csv2['dp3'] * 0.5)

In [5]:
data[['SK_ID_CURR', 'TARGET']].to_csv('../output/ex_merge.csv', index=False)

In [6]:
data[['SK_ID_CURR', 'TARGET']].head()

   SK_ID_CURR    TARGET
0      100001  0.051244
1      100005  0.151177
2      100013  0.018754
3      100028  0.045799
4      100038  0.134522