In [1]:
import os
import pandas as pd
import numpy as np
import math
from matplotlib.pyplot import *
import matplotlib.pyplot as plt
from matplotlib import animation
from matplotlib import cm
from parse import *
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier as RandomForest
import random
from sklearn import linear_model
from datetime import datetime
import gc

pd.set_option("display.max_columns", 2000)

In [2]:
%%time
df_train_cat = pd.read_csv('train_categorical.csv', index_col=0, dtype='object', usecols = np.hstack(('Id', 'L1_S24_F1525', 'L1_S25_F1852', 'L1_S25_F2779', 'L3_S32_F3851', 'L3_S32_F3854')))
df_test_cat = pd.read_csv('test_categorical.csv', index_col=0, dtype='object', usecols = np.hstack(('Id', 'L1_S24_F1525', 'L1_S25_F1852', 'L1_S25_F2779', 'L3_S32_F3851', 'L3_S32_F3854')))

Wall time: 42.8 s

In [3]:
for i in range(len(df_train_cat.columns)):
    df_train_cat.iloc[:, i] = df_train_cat.iloc[:, i].str[1:].astype(float).fillna(0).astype(int)
    df_test_cat.iloc[:, i] = df_test_cat.iloc[:, i].str[1:].astype(float).fillna(0).astype(int)

In [4]:
df_train_cat.to_csv('output/train_cat_top5.csv')
df_test_cat.to_csv('output/test_cat_top5.csv')

In [7]:
df_test_cat.head(10)

    L1_S24_F1525  L1_S25_F1852  L1_S25_F2779  L3_S32_F3851  L3_S32_F3854
Id
1              3             0             0             0             0
2              0             0             0             0             0
3              2             0             0             0             0
5              0             0             0             0             0
8              2             0             0             0             0
10             0             0             0             0             0
12             0             0             0             0             0
15             0             0             0             0             0
17             0             0             0             0             0
19             3             0             0             0             0